@require 'stylus/theme.styl'

.filter-content
  // box-shadow: -5px 0px 10px 5px rgba(0, 0, 0, 0.05)
  &__form
    margin-bottom: margin.lg
    flex-flow: row
    top: 51px
    position: sticky
    max-width: 200px


  &__spoiler-button
    position: absolute
    left: -1rem
    top: 1rem


.page__header
  display: flex
  align-items: center
  position: sticky
  top: -4px
  background-color: colors.white
  z-index: 1
  
