@require 'stylus/theme.styl'

.topbar
  // box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.05)
  border-bottom: 1px solid colors.light
  position: sticky
  top: 0
  z-index: 1
  background-color: colors.white

  align-items: center;

  gap: 5px

  padding: padding.lg

  //&_hidden
    //padding: 0

  &__label
    margin-left: auto
    // text-align: right

  
  